<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="">
    <div class="container"  ng-controller="cartController">
        <table ng-show="cart.length" class="table">
            <thead>
                <tr>
                    <th>产品编号</th>
                    <th>产品名字</th>
                    <th>购买数量</th>
                    <th>产品单价</th>
                    <th>产品总价</th>
                    <th>操作</th>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="item in cart">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <button type="button" ng-click="add(item.id)" class="btn btn-primary">+</button>
                        <input type="number" value="{{item.quantity}}" ng-model="item.quantity" >
                        <button type="button" ng-click="reduce(item.id)" class="btn btn-primary">-</button>
                    </td>
                    <td>{{item.price}}</td>
                    <td>{{item.price*item.quantity}}</td>
                    <td><button type="button" ng-click="remove(item.id)" class="btn btn-danger">移除</button> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>购买数量</td>
                    <td>{{totalQuantity()}}</td>
                    <td>购买总价</td>
                    <td>{{totalPrice()}}</td>
                    <td><button ng-click="cart = {}" class="btn btn-danger">清空</button> </td>
                </tr>
            </tbody>
        </table>
        <p ng-show="!cart.length">你的购物车为空</p>
        </div>

<script src="app/index.js"></script>
    <script src="../vendor/angularjs/angular.js"></script>
</body>
</html>